/* Style CSS CV ACM */

/* Définition des polices personnalisées */

@font-face { 
	/*Definition d'une police nommee Romantically Regular */
    font-family: 'romanticallyregular';
    src: url('Romantically/romantically-webfont.woff2') format('woff2'),
         url('Romantically/romantically-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
	/*Definition d'une police nommee Romantically Italic */
    font-family: 'romantically_italicregular';
    src: url('Romantically/romantically_italic-webfont.woff2') format('woff2'),
         url('Romantically/romantically_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
	/*Definition d'une police nommee OpenSansRegular */
    font-family: 'open_sansregular', sans-serif;
    src: url('opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Header */

header {
	display: flex;
	flex-wrap: nowrap;
	color: rgb(64, 64, 64);
	align-items: center;
	width: 100%;
}

.prenoms {
	font-family: romanticallyregular;
	color: rgb(71, 144, 153);
	text-align: left;
	align-items: left;
}

.nom {
	font-weight: bold;
	font-size: 1.7em;
	text-align: left;
	color: black;
	align-items: left;
}

.profession {
	text-align: left;
	align-items: left;
	padding-right: 180px;
}

.devel {
    border-bottom: 2.3px solid rgb(71, 144, 153);
    padding-bottom: 5px;
}

.title {
	padding-left: 50px;
	padding-right: 350px;
	align-items: left;
	width: 75%;
}

.Photo {
	padding: 50px;
    text-align: center;
    width: 25%;
    background-color: rgb(71, 144, 153);
    align-items: center;
    display: flex;
}

img {
	border-radius: 100%;
	box-shadow: 0px 0px 20px rgb(64 64 64);
	align-items: center;
	display: flex;
}

/* Eléments principaux de la page */

body {
	font-family: open_sansregular, sans-serif;
	font-style: normal;
	text-align: justify-all;
	margin: 20px;
	width: 1280px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 3px black
}

h1 {
	font-size: x-large;
	text-align: center;
}

h2 {
	font-size: x-large;
	text-align: center;
}

h3, h4 {
	color: rgb(71, 144, 153);
}

h3 {
	font-size: large;
	font-weight: bolder;
}

h4 {
	font-size: medium;
	margin-bottom: 0px;
}

h5 {
	margin-top: 8px;
}

p {
	size: xx-small;
}

.corps {
	display: flex;
	width: 100%;
}
    
/*#liseré*/ /*#contenu*/
/*{
    display: inline-block;
    vertical-align: top;
}*/

/*#liseré
{   
    width: 2%;
    margin-right: 3%;
    height: 500px;
    background-image: url('lodyas.png');
    border-radius: 30px;
}*/

/*#contenu
{
    width: 85%;
}*/

/* Gauche */

.gauche {
    background-color: rgb(71, 144, 153);
    color: rgb(64, 64, 64);
    text-align: left;
    width: 25%;
}

.TitreContacts {
	background-color: rgb(64, 64, 64);
	color: rgb(71, 144, 153);
	text-align: center;
	width: 94.5%;
	padding: 8px;
	flex: 1;
}

.gauche p {
    padding: 16px;
    background-color: rgb(71, 144, 153);
    text-align: justify;
    color: rgb(64, 64, 64);
    font-weight: bold;
}

.icones {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid;
    padding: 10px;
    color: rgb(64, 64, 64);
}

.loisirs {
    padding-bottom: 80px;
    align-items: center;
}

/* Droite */

.droite {
	width: 75%;
	padding: 6px; 
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(64, 64, 64);
}

.dateetlieu {
	display: flex;
	flex-direction: row;
	width: 150px;
	align-items: baseline;
	flex-shrink: 0;
	font-size: 15px;
	font-weight: bold;
}

.information {
	padding-left: 10px;
}

.details {
	justify-content: space-around;
    padding-right: 40px;
    padding-left: 100px;
    align-self: stretch;
}

.details h5 {
    margin-bottom: 0;
}

article {
	display: flex;
}

.recommandations {
	display: flex;
    padding-left: 40px;
    margin-right: 300px;
    justify-content: space-between;
}

.formation h4 {
    margin-top: 20px;
    display: flex;
}

.droite h3 {
	border-bottom: 2.3px solid rgb(71, 144, 153);
    padding-bottom: 5px;
}

.training, .work, .skills, .recommendation {
	color: black;
}

.far {
	color: rgb(71, 144, 153); 
	align-items: center;
}

/*.fas {
	color: rgb(71, 144, 153); 
	align-items: center;
}*/

/* Footer */

footer {
	text-align: center;
	font-size: small;
	color: rgb(64, 64, 64);
}

/* Ecrans */

@media screen and (max-width: 1280px) {

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px)

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)

/* Sur les téléviseurs */
@media tv

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait)

#bloc_page
{
    width: 900px;
    margin: auto;
}

@media all and (max-width: 1024px)
{
    section
    {
        display: block;
        width: auto;
    }

    /*#liseré
    {
        display: none;
    }

    #contenu
    {
        width: auto;
    }

}*/