/* Style CSS CV ACM */

/* Définition des polices personnalisées */

@font-face { 
	/*Definition d'une police nommee Romantically Regular */
    font-family: 'romanticallyregular';
    src: url('Romantically/romantically-webfont.woff2') format('woff2'),
         url('Romantically/romantically-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
	/*Definition d'une police nommee Romantically Italic */
    font-family: 'romantically_italicregular';
    src: url('Romantically/romantically_italic-webfont.woff2') format('woff2'),
         url('Romantically/romantically_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
	/*Definition d'une police nommee OpenSansRegular */
    font-family: 'open_sansregular', sans-serif;
    src: url('opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Header */

header {
	display: flex;
	flex-wrap: nowrap;
	color: rgb(64, 64, 64);
	align-items: center;
	background-color: rgb(71, 144, 153);
}

.Photo {
	width: 25%;
	padding-top: 5%;
	padding-bottom: 4%;
	position: relative;
}

img {
	border-radius: 100%;
	box-shadow: 0px 0px 20px rgb(64 64 64);
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

header h1 {
	font-size: xx-large;
	font-weight: bolder;
}

header h2 {
	font-size: x-large;
	font-weight: bolder;
}

.identity {
	padding-left: 5%;
}

.prenoms {
	font-family: romanticallyregular;
	color: rgb(71, 144, 153);
	text-align: left;
}

.nom {
	font-size: 130%;
	color: black;
}

.profession {
	text-align: left;
	padding-left: 5%;
}

.devel {
    border-bottom: 2.3px solid rgb(71, 144, 153);
    padding-bottom: 1%;
}

.title {
	padding-top: 5%;
	padding-bottom: 4%;
	width: 75%;
	background-color: #ffffff;
}

/* Eléments principaux de la page */

body {
	font-family: open_sansregular, sans-serif;
	font-style: normal;
	text-align: justify-all;
    margin: 1%;
    background-color: #ffffff;
}

.cv {
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    align-items: center;
}

.corps {
	display: flex;
	flex-wrap: nowrap;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

h3 {
	font-size: medium;
	font-weight: bolder;
}

/* Gauche */

.gauche {
	background-color: rgb(71, 144, 153);
    color: rgb(64, 64, 64);
    text-align: left;
    width: 25%;
    position: relative;
}

.gauche h1 {
	background-color: rgb(64, 64, 64);
	color: rgb(71, 144, 153);
	text-align: center;
	padding: 3%;
}

.gauche p {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 20%;
    background-color: rgb(71, 144, 153);
    text-align: justify;
    color: rgb(64, 64, 64);
    font-weight: bold;
}

.propos {
	padding-bottom: 200%;
}

.icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.icone {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid;
    padding: 3%;
    color: rgb(64, 64, 64);
}

/* Droite */

.droite {
	width: 75%;
    color: rgb(64, 64, 64);
    padding-top: 2%;
}

.formation, .experience, .competences, .recommandations {
	padding-left: 5%;
	padding-right: 5%;
}

.dateetlieu {
	display: flex;
	flex-direction: row;
	width: 25%;
	align-items: baseline;
	flex-shrink: 0;
	font-weight: bold;
}

.information {
	padding-left: 5%;
}

.details {
	justify-content: space-around;
    align-self: stretch;
    width: 75%;
}

.droite h1 {
	border-bottom: 2.3px solid rgb(71, 144, 153);
	padding-bottom: 1%;
	color: black;
	text-align: left;
}

.droite h2, .droite h3 {
	text-align: left;
}

article {
	display: flex;
}

.recommandation2 {
	padding-left: 30%;
}

.fas, .far {
	color: rgb(71, 144, 153); 
	padding-right: 3%;
}

/* Footer */

footer {
	text-align: center;
	font-size: small;
	color: rgb(64, 64, 64);
}

/* Ecrans */
 
@media all and (max-width: 1024px)
{

header {
	background-color: white;
	flex-direction: column;
}

.Photo {
	padding-top: 30%;
	padding-bottom: 0%;
}

img {
   	border: 5px solid rgb(71, 144, 153);
}

header h1 {
	font-size: x-large;
	text-align: center;
}

header h2 {
	font-size: large;
	text-align: center;
}

.identity {
	padding-left: 0%;
}

.prenoms {
	text-align: center;
}

.profession {
	text-align: center;
	padding-left: 0%;
}

.devel {
    border-bottom: 2.3px solid rgb(71, 144, 153);
    padding-bottom: 1%;
}

.title {
	padding-top: 0%;
	padding-bottom: 0%;
	background-color: #ffffff;
}

.corps {
    flex-direction: column-reverse;
    width: auto;
}

.photo {
    width: auto;
    background-color: transparent;
}

.droite {
    width: auto;
}

.droite h1, .droite h2, .droite h3 {
    text-align: center;
    width: auto;
}

.dateetlieu {
	width: auto;
	align-items: baseline;
	font-weight: bold;
}

.information { 
	padding-left: 1%;
}

.details {
    padding-right: 0%;
    padding-left: 0%;
    align-self: stretch;
    width: auto;
}

article {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recommandation2 {
	padding-left: 0%;
}

.gauche {
    text-align: center;
    width: auto;
}

.gauche p {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
}

.propos {
	padding-bottom: 0%;
}

.icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.icone {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid;
    padding: 1%;
    color: rgb(64, 64, 64);
}

}
